[Unit]
Description=i3 window manager
After=xorg@0.service
Requires=xorg@0.service

[Service]
ExecStart=/usr/bin/i3
Restart=always
RestartSec=5

[Install]
WantedBy=wm.target
